<app-navbar></app-navbar>
<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
        <h1 class="fw-bolder">Registrate</h1>
        <p class="lead fw-normal text-muted mb-0">Registra tu participación</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <form id="contactForm">
            <label>Ingresa tu nombre</label>
            <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Ingresa tu nombre" name="nombre"
                #nombre="ngModel" [(ngModel)]="estudianteModelPost.nombre">
              <label for="name">Nombre</label>
            </div>
            <label>Ingresa tu carnet</label>
            <div class="form-floating mb-3">
              <input class="form-control" id="carnet" type="text" placeholder="Ingresa tu nombre" name="carnet"
                #carnet="ngModel" [(ngModel)]="estudianteModelPost.carnet">
              <label for=" name">Carnet</label>
            </div>
            <label>Ingresa tu genero</label>
            <div class="form-floating mb-3">
              <select class="form-select" aria-label="Default select example" name="genero" #genero="ngModel"
              [(ngModel)]="estudianteModelPost.genero">
                <option selected>Open this select menu</option>
                <option  *ngFor="let pr of generos" [value]="pr.genero">{{pr.genero}}</option>
              </select>
            </div>
            <label>Ingresa tu telefono</label>
            <div class="form-floating mb-3">
              <input class="form-control" id="phone" type="text" placeholder="." name="telefono" #telefono="ngModel"
                [(ngModel)]="estudianteModelPost.telefono">
              <label for="phone">Telefono</label>
            </div>
            <label>Ingresa tu fecha de nacimiento</label>
            <div class="form-floating mb-3">
              <input class="form-control" id="phone" type="date" placeholder="." name="fecha"
                #fecha="ngModel" [(ngModel)]="estudianteModelPost.dateOfBirth">
              <label for="phone">Fecha de nacimiento</label>
            </div>
            <label>Ingresa tu direccion</label>
            <div class="form-floating mb-3">
              <input class="form-control" id="Direccion" type="text" placeholder="Ingresa tu nombre" name="direccion" #direccion="ngModel" [(ngModel)]="estudianteModelPost.direccion">
              <label for="name">Direccion</label>
            </div>
            <label>Ingresa tu carrera</label>
            <div class="form-floating mb-3">
              <select class="form-select" aria-label="Default select example" name="carrera" #carrera="ngModel" [(ngModel)]="estudianteModelPost.carrera">
                <option selected>Open this select menu</option>
                <option  *ngFor="let car of Carreras" [value]="car.carrera">{{car.carrera}}</option>
              </select>
            </div>
            <label>Ingresa el genero de poesia</label>
            <div class="form-floating mb-3">
              <select class="form-select" aria-label="Default select example" name="idGeneroP" #idGeneroP="ngModel" [(ngModel)]="estudianteModelPost.generoPoesia">
                <option selected>Open this select menu</option>
                <option  *ngFor="let gP of GeneroPoesia" [value]="gP.genero">{{gP.genero}}</option>
              </select>
            </div>
            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit" (click)="postSolicitud()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
