<app-navbar></app-navbar>
<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
        <h1 class="fw-bolder">Registrate</h1>
        <p class="lead fw-normal text-muted mb-0">Registrate en HiTel para obtener acceso completo como usuario y poder
          empezar a reservar en hoteles!</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <form id="contactForm">
            <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Ingresa tu nombre" name="nombre"
                #nombre="ngModel" [(ngModel)]="estudianteModelPost.nombre">
              <label for="name">Nombre</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Ingresa tu nombre" name="carnet"
                #carnet="ngModel" [(ngModel)]="estudianteModelPost.carnet">
              <label for=" name">Carnet</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" type="text" name="genero" #genero="ngModel"
                [(ngModel)]="estudianteModelPost.genero">
                <label for=" name">Genero</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="phone" type="text" placeholder="." name="telefono" #telefono="ngModel"
                [(ngModel)]="estudianteModelPost.telefono">
              <label for="phone">Telefono</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="phone" type="text" placeholder="." name="fecha"
                #fecha="ngModel" [(ngModel)]="estudianteModelPost.dateofBirth">
              <label for="phone">Fecha de nacimiento</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Ingresa tu nombre" name="direccion" #direccion="ngModel" [(ngModel)]="estudianteModelPost.direccion">
              <label for="name">Direccion</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" type="text" name="carrera" #carrera="ngModel" [(ngModel)]="estudianteModelPost.idCarrera">
              <label for=" name">Carrera</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" aria-label="Default select example" name="idGeneroP" #idGeneroP="ngModel" [(ngModel)]="estudianteModelPost.idGeneroP">
              <label for=" name">Genero de poesia</label>
            </div>
            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit" (click)="postSolicitud()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
